<div class="container mt-3">
    <div class="row">
        <div class="col">

            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button class="btn btn-success">Ajouter une stat</button>
            {{ form_end(form) }}

        </div>
    </div>
</div>
